header {
    height: 10vh;
	background-color: rgba(0, 0, 0, 0.6);
    display: flex;
    flex-wrap: wrap;
    align-items: center;
    justify-content: space-between;
    padding: 0px;
    position: fixed;
    top: 0;
    left: 0;
    width: 100%;
    z-index: 100;
    box-shadow: 0 5px 7px rgba(0, 0, 0, 0.4);

}
ul {
    text-align: center;
    margin-right: 2rem;
}
li {
    color: #1f0e0e;
    display: inline-block;
    margin: 0 0 0 20px;
    cursor: pointer;
    font-size: 2em;
    font-weight: 700;
    transition: 0.3s ease;
}
li:hover,
li:active {
	color: #d5ff02;
}
body {
    background: #888;
  }
  
  .text-wrapper{
      background-color: blanchedalmond;
      
  }
  .text-wrapper h1 {
    display: flex;
      justify-content: center;
      align-items: center;
      text-shadow: #888 1px 10px 5px;
      
  }
  
  
  
  .text-con{
      background-color: blanchedalmond;
      tab-size: 15px;
      
      
  }
  
  .wrapper{
      background-color: blanchedalmond;
      
  }
  .flex-wrapper{
     background-color: blanchedalmond;
  }
  .con-flex{
      background-color:  blanchedalmond;
  }
  .con-last{
      background-color:  blanchedalmond;
  }
  footer {
    height: 10vh;
    background: rgb(209, 133, 248);
    display: flex;
    justify-content: space-around;
    align-items: center;
  }